{% extends 'index.html' %}
{% load static %}

{% block js %}
<script defer src="{% static 'scripts/account.js' %}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block body %}
<div class="page-wrapper">
  <div class="content-wrapper">
    <div class="account-container">
      <div class="main-content">
        <div class="account">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
          </form>
          {% if request.user.is_authenticated %}
            <h2>Welcome, {{ request.user.first_name }} {{ request.user.last_name }}!</h2>
            <div class="avatar">
              {% if user.profile.photo %}
                <img class="border border-warning rounded-circle account-img img-fluid" src="{{ user.profile.photo.url }}" alt="Profile Picture">
              {% else %}
                <img class="img-fluid account-img" src="{% static 'media/media/logo.png' %}" alt="Default avatar" style="height:100px; width:125px;">
              {% endif %}
            </div>
            <div class="user-info">
              <p>Email: {{ request.user.email }}</p>
              <p>First name: {{ request.user.first_name }}</p>
              <p>Last name: {{ request.user.last_name }}</p>
            </div>
       
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group" id="change_container">
                <input type="file" id="browse" name="photo" accept="image/*" id="id_photo">
                <button type="submit" name="update_picture" class="btn badge rounded-pill" id="update_button">Change</button>
              </div>
            </form>
         
           
            
          {% else %}
            <h1>Welcome!</h1>
            <ul>
              <li><a id="a1" href="{% url 'login' %}">Login</a></li>
              <li><a id="a2" href="{% url 'signup' %}">Signup</a></li>
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %} -->
  </div>
</div>
{% endblock %}