{% extends "index.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/cart.css'%}">
{% endblock %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2>Change Your Password</h2>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>
{% endblock %}