{% extends 'index.html' %}
{% load static %}
{% block js %}
<script defer src="{% static 'scripts/account.js' %}"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}
{% block body %}

<div id="page_container">
    <main id="content_wrap">
        <div class="account-container">

           
       
        <div class="account3">
            <div id="add_friends_button">
                <a href="{% url 'search_friends' %}">Add friends</a>
            </div>
            <h2>My Friends:</h2>
            
            {% if friends %}
                <ul>
                {% for friend in friends %}
                    <li>
                        <img src="{{friend.profile.photo.url}}" class="rounded-circle border border-warning">
                        <a href="{% url 'user_profile' username=friend.username %}">{{ friend.username }}</a>
                        
                        
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>You don't have any friends yet.</p>
            {% endif %}

        </div> 
    </main>
</div>
{% endblock %}