{% extends "index.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/account.css'%}">
{% endblock %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
<div class="account-container">
    <h1 class="" style="color:white;">{{ request.user.first_name }}, your password was changed Successfully!</h1>
    <a href="{% url 'account' %}">Back to my account's page.</a>
</div>

{% endblock %}